<%- include('../layout/header'); -%>
    <div class="container-fluid">

        <%- include('../layout/subHeader') -%>

            <div class="row justify-content-center my-4">
                <div class="col-12 m-auto  text-center col-sm-10 col-md-8 col-lg-6 col-xl-4" style="min-width:23rem !important">

                    <div class="card mt-2 bg-primary m-auto">
                        <div class="card-header">
                            <h2 class="text-light text-center">Register User</h2>
                        </div>
                        <div class="card-body text-fwhite">
                            <form action="/auth/register" method="POST">
                                <!-- email input group -->
                                <div class="form-group">
                                    <label for="firstName">firstName</label>
                                    <input type="text" class="form-control" name="firstName" id="firstName" value="mohammad" placeholder="firstName ...">
                                </div>

                                <!-- email input group -->
                                <div class="form-group">
                                    <label for="lastName    ">lastName</label>
                                    <input type="text" class="form-control" name="lastName" id="lastName" value="ravnad" placeholder=" lastName ... ">
                                </div>

                                <!-- email input group -->
                                <div class="form-group ">
                                    <label for="email ">Email</label>
                                    <input type="email " class="form-control " name="email " id="email " value="admin@gmail.com " placeholder="email ... ">
                                </div>


                                <!-- password title input group -->
                                <div class="form-group ">
                                    <label for="password ">Password</label>
                                    <input type="password " class="form-control " id="password " name="password " value="mohammad " placeholder="password ... ">
                                </div>

                                <!-- password title input group -->
                                <div class="form-group ">
                                    <label for="repassword ">confirm Password</label>
                                    <input type="password " class="form-control " id="repassword " name="repassword " value="mohammad " placeholder="repassword ... ">
                                </div>



                                <div class="form-group text-center mb-0 ">
                                    <button type="submit " class="btn btn-navy text-fwhite ">Create Todo</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

    </div>
    <%- include('../layout/footer'); -%>