<%- include('../layout/header'); -%>

    <div class="d-flex flex-column justify-content-center">
        <div class="col text-center">
            <img class="mx-auto my-0 w-50" src="/images/errors/404.png" style="max-width:400px !important;min-width:250px !important" alt="">
            <a class="d-block" href="/">Home Page</a>
        </div>
    </div>
    <%- include('../layout/footer'); -%>