<div class="list-group mt-5">
    <li href="#" class="list-group-item list-group-item-action active m-0  text-center">
        <a href="/users" class="btn btn-sm bg-aqua <% if(path=='/users'){ %>sub-active <% }else{ %> '' <%} %>">all users</a>
        <a href="/images" class="btn btn-sm bg-aqua <% if(path=='/images'){ %>sub-active <% }else{ %> '' <%} %>" ">all images</a>
        <a href="/users/newUser " class="btn btn-sm bg-aqua <% if(path=='/newUser' ){ %>sub-active
        <% }else{ %> ''
            <%} %>"">newUser</a>
    </li>
</div>